.banner{
    background-color: magenta;
    color: white;
    width: 100%;
    height: 3rem;
    font-family: "American Typewriter";
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    font-size: 24px;
}

.description{
    padding: 1rem;
}
.main{
    display: flex;
    font-family: "American Typewriter";
}

.step1{
    display: flex;
    justify-content: space-between;
    font-family: "American Typewriter";
    background-color: black;
    color: white;
}

.step2{
    display: flex;
    justify-content: space-between;
    font-family: "American Typewriter";
    background-color: white;
    color: black;

}
.centered{
    display: flex;
    justify-content: center;
}

.right{
    padding: 1rem 1rem 1rem 1rem;
}
.rightHeading{
    font-size: medium;
    padding-bottom: 1rem;
}

.kittyProfile{
    padding-bottom: 1rem;
}
